{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <!-- STATIC FILES -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <script src="{% static 'js/mobile.js' %}" type="text/javascript"></script>
</head>

<body>
<div id="page">

    <!-- HEADER -->
    <div id="header">
        <div>
            <!-- FIX LOGO -->
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>

            <!-- NAVBAR -->
            <ul id="navigation">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>

                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>

                <li class="menu">
                    <a href="{% url 'projects' %}">Projects</a>
                    <ul class="primary">
                        <li>
                            <a href="{% url 'projects' %}">
                        </li>
                    </ul>
                </li>

                <li class="menu selected">
                    <a href="{% url 'blog' %}">Blog</a>
                    <ul class="secondary">
                        <li>
                            <a href="{% url 'singlepost' %}">Single Post</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- BODY -->
    <div id="body">
        <div class="header">
            <div>
                <h1>Blog</h1>

                <div class="article">
                    <ul>
                        <li>
                            <a href="{% url 'singlepost' %}">
                                <img src="{% static 'images/astronaut.jpg' %}" alt="">
                            </a>
                            <h1>SUCCESSFUL REPAIR OF THE MX-1 SAT</h1>
                            <span>FEBRUARY 6, 2023</span>
                            <p>Blog content here...</p>
                            <a href="{% url 'singlepost' %}" class="more">Read More</a>
                        </li>

                        <li>
                            <a href="{% url 'singlepost' %}">
                                <img src="{% static 'images/satellite-dish.jpg' %}" alt="">
                            </a>
                            <h1>ALIEN SIGNAL DISCOVERY</h1>
                            <span>FEBRUARY 3, 2023</span>
                            <p>Blog content here...</p>
                            <a href="{% url 'singlepost' %}" class="more">Read More</a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar">
                    <ul>
                        <li>
                            <h1>FEATURED POSTS</h1>
                            <a href="{% url 'singlepost' %}">
                                <img src="{% static 'images/moon-satellite.jpg' %}" alt="">
                            </a>
                            <h2>SOYUZ TMA-M</h2>
                        </li>

                        <li>
                            <h1>RECENT POSTS</h1>
                            <ul>
                                <li>
                                    <a href="{% url 'singlepost' %}">
                                        <img src="{% static 'images/alien-life.jpg' %}" alt="">
                                    </a>
                                    <h2>ALIEN LIFE</h2>
                                </li>

                                <li>
                                    <a href="{% url 'singlepost' %}">
                                        <img src="{% static 'images/galaxy.jpg' %}" alt="">
                                    </a>
                                    <h2>THE GALAXY</h2>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div id="footer">
        <div class="footnote">
            <p>&copy; 2023 SPACE PROSPECTION</p>
        </div>
    </div>

</div>
</body>
</html>