<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <head name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <link rel="stylesheet" type="style.css"> -->
    <!-- <script src="mobile.js"></script> -->
    <title>Registraion</title>
</head>
<body>
    <form action=
        "register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="User Name"><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="password1"><br>
        <input type="password" name="password2" placeholder="password2"><br>
        <input type="submit" value="Register">

    </form>
<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>
</div>
</body>
</html>